*
{
    margin:0%
}


#brand{
    
    line-height: 60px;
    margin-left: 10px;
    
}
#navigation
{
   
    text-align: center;
   
    
}
a{
text-decoration: none;
margin-right: 30px;
color: chocolate;



}
#main
{
    text-align: center;
    margin-top: 40px;
    background-color:coral;
    padding: 20px;
     border-radius: 60px;
}
#para
{
    margin-top: 100px;
    margin-left: 100px;
    
    

}
h3{
    margin-top: 10px;
    margin-left: 4px;
}
#img
{
   margin-left: 50%;

}
#footer
{
background-color: darkcyan;
margin-top: 50px;
border-radius: 43%;


}
h2{
   text-align: center;
}
table{
    margin-right: 10%;
    margin: 20px auto;
  
}
#last
{
    background-color:coral;
margin-top: 50px;
border-radius: 43%;
}
h2{
    text-align: center;
 }
